body{
    background: #fd5;
    display: flex;
}
h1{
    color: yellow;
}
@media all and (color) { body{
    background: #fd4;
  } }
  @media all and (color) {  body{
    background-color: #fff;

  }
    
   }